<div class="tab-row">
<div class="tab-box">
  <h3 class="header"><%= t 'materials.recommended' %></h3>
  <ul>
    <li><a href="http://www.codecademy.com/" target="_blank">Codecademy</a></li>
    <li><a href="http://we-can-do-it.herokuapp.com/" target="_blank">We can do it!</a></li>
    <li><a href="http://www.codeschool.com/" target="_blank">codeschool.com</a></li>
    <li><a href="http://www.skillcrush.com/" target="blank">skillcrush.com</a></li>
    <li><a href="http://www.class-central.com/" target="_blank">class-central.com</a></li>
    <li><a href="http://www.coursera.org" target="_blank">coursera.org</a></li>
    <li><a href="http://www.udacity.com/" target="_blank">udacity.com</a></li>
    <li><a href="http://net.tutsplus.com/" target="_blank">net.tutsplus.com</a></li>
    <li><a href="http://akceslab.pl/docs/amusing/" target="_blank">Przewodnik audytora dostępności</a></li>
    <li><a href="http://amusing-css.herokuapp.com/" target="_blank">Amusing CSS</a></li>
  </ul>
</div>
<div class="tab-box">
  <h3 class="header">Ruby / Ruby on Rails</h3>
  <ul>
    <li><a href="http://tryruby.org/" target="_blank">tryruby.org</a></li>
    <li><a href="https://www.bloc.io/ruby-warrior/#/" target="_blank">www.bloc.io/ruby-warrior/#</a></li>
    <li><a href="http://railsforzombies.org/" target="_blank">railsforzombies.org</a></li>
    <li><a href="http://guides.railsgirls.com/" target="_blank">guides.railsgirls.com</a></li>
    <li><a href="http://rubymonk.com" target="_blank">rubymonk.com</a></li>
    <li><a href="http://railscasts.com/" target="_blank">railscasts.com</a></li>
    <li><a href="http://ruby.learncodethehardway.org/book/" target="_blank">ruby.learncodethehardway.org</a></li>
    <li><a href="http://learnruby.com/" target="_blank">learnruby.com</a></li>
    <li><a href="https://www.ruby-toolbox.com" target="_blank">ruby-toolbox.com</a></li>
  </ul>
</div>
<div class="tab-box last">
  <h3 class="header">HTML i CSS</h3>
  <ul>
    <li><a href="http://www.w3.org/" target="_blank">w3.org</a></li>
    <li><a href="http://www.codeavengers.com/web/1" target="_blank">http://www.codeavengers.com/web/1/</a></li>
    <li><a href="http://tutsplus.com/course/30-days-to-learn-html-and-css/" target="_blank">tutsplus.com/course/30-days-to-learn-html-and-css</a></li>
    <li><a href="http://net.tutsplus.com/tutorials/html-css-techniques/the-30-css-selectors-you-must-memorize/" target="_blank">net.tutsplus.com/tutorials/html-css-techniques/the-30-css-selectors-you-must-memorize</a></li>
    <li><a href="https://developer.mozilla.org/en/Sections_and_Outlines_of_an_HTML5_document" target="_blank">developer.mozilla.org: Sections and Outlines of an HTML5 Document</a></li>
    <li><a href="http://css3clickchart.com/" target="_blank">css3clickchart.com</a></li>
    <li><a href="http://css-tricks.com/" target="_blank">css-tricks.com</a></li>
    <li><a href="http://css-tricks.com/sass-vs-less/" target="_blank">css-tricks.com/sass-vs-less</a></li>
  </ul>
</div>
</div>

<div class="tab-row">
<div class="tab-box">
  <h3 class="header">Usability</h3>
  <ul>
    <li><a href="http://uxmovement.com/" target="_blank">uxmovement.com</a></li>
    <li><a href="http://uxmatters.com/" target="_blank">uxmatters.com</a></li>
    <li><a href="http://www.lukew.com/" target="blank">lukew.com</a></li>
    <li><a href="http://uxbite.com/" target="blank">uxbite.com</a></li>
    <li><a href="http://www.boxesandarrows.com/" target="_blank">boxesandarrows.com</a></li>
    <li><a href="http://www.uxbooth.com/" target="_blank">uxbooth.com</a></li>
    <li><a href="http://uxdesign.pl/" target="_blank">uxdesign.pl</a></li>
    <li><a href="http://www.webusability.pl/" target="_blank">webusability.pl</a></li>
    <li><a href="http://collegiumpapricum.com/" target="_blank">collegiumpapricum.com</a></li>
    <li><a href="http://www.interaction-design.org/" target="_blank">interaction-design</a></li>
    <li><a href="http://www.ifixux.pl/" target="_blank">ifixux.pl</a></li>
  </ul>
</div>
<div class="tab-box">
  <h3 class="header">Web Design</h3>
  <ul>
    <li><a href="http://www.smashingmagazine.com/" target="_blank">smashingmagazine.com</a></li>
    <li><a href="http://www.alistapart.com/" target="_blank">alistapart.com</a></li>
    <li><a href="http://www.awwwards.com/" target="_blank">awwwards.com</a></li>
    <li><a href="http://makebetterwebsites.com/" target="_blank">makebetterwebsites.com</a></li>
    <li><a href="http://www.visualmess.com/" target="_blank">visualmess.com</a></li>
    <li><a href="http://mobile-patterns.com/" target="_blank">mobile-patterns.com</a></li>
    <li><a href="http://www.lovelyui.com/" target="_blank">www.lovelyui.com</a></li>
    <li><a href="http://www.appsites.com/" target="_blank">appsites.com</a></li>
    <li><a href="http://pttrns.com/" target="_blank">pttrns.com</a></li>
    <li><a href="http://design-survival.com/" target="_blank">design-survival.com</a></li>
    <li><a href="http://dailyinfographic.com/" target="_blank">dailyinfographic.com</a></li>
  </ul>
</div>
<div class="tab-box last">
  <h3 class="header">Web Typography</h3>
  <ul>
    <li><a href="http://webtypography.net/" target="_blank">webtypography.net</a></li>
    <li><a href="http://webtypography.net/sxsw2007/webtypography-sxsw2007-notes.pdf" target="_blank">webtypography.net: Web Typography Sucks</a></li>
    <li><a href="http://collegiumpapricum.com/2010/03/typografia-na-stronach-internetowych/" target="_blank">collegiumpapricum.com: Typografia na stronach internetowych</a></li>
    <li><a href="http://www.type-together.com/" target="_blank">type-together.com</a></li>
    <li><a href="http://www.google.com/webfonts" target="_blank">google.com/webfonts</a></li>
    <li><a href="http://www.fontsquirrel.com" target="_blank">fontsquirrel.com</a></li>
    <li><a href="http://www.fontshop.com/plugin/" target="_blank">www.fontshop.com/plugin</a></li>
  </ul>
</div>
</div>
