<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= raw article.title %>
      -
      <a target="_blank" href="<%= article.url %>">
        <%= raw article.url %>
      </a>
    </li>
  <% end %>
</table>
