<ul id="articles">
  <% @articles.each do |article| %>
    <li class="<%= article.event_style %>">
      <%= raw article.title %><br/>
      <a target="_blank" href="<%= article.url %>">
        <%= raw article.url %>
      </a>
    </li>
  <% end %>
</table>
