<div class="tabs_box" id="fullpage">
  <ul class="clear" id="tabs">
    <li><a rel="#amusing">Amusing Workshops</a></li>
    <li><a rel="#learning"><%= t 'events.group_title' %></a></li>
    <li><a rel="#past">We Did It!</a></li>
  </ul>
</div>
