<%= render "tab" %>
<div class="tabs_holder">
  <div class="tabbed" id="amusing">
    <p><strong>Amusing Workshops</strong> to seria comiesięcznych warsztatów technologicznych.
      Każde spotkanie poświęcone jest innej tematyce - HTML, CSS, JavaScript, Ruby on Rails, Usability, Graphic Design, etc.</p>
     <p>Warsztaty prowadzone są przed specjalistów danej branży, którzy dbają o lekką <br/>i przystępną formę przekazywanej wiedzy. Poziom i zakres szkoleń ustalany jest odrębnie przed każdymi zajęciami.</p>
    <p>Dodatkowo, spotkania kończą się uwielbianą przez uczestników serią Lightning Talków - inspirującą częścią wydarzenia, na której pojawiają się różnorodne osobistości, nie tylko ze świata IT.</p>
    <p><strong>Kiedy i gdzie?</strong></p>
    <p>Spotkania rozpoczynają się zwykle ok. godz. 18, trwają ok. 2-4 godzin i odbywają się <br/>w centrum Krakowa. Szczegóły każdego eventu dostępne są w zakładce <a href="https://www.facebook.com/webmuses/events" target="_blank">Wydarzenia</a> <br/>na Facebooku lub bezpośrednio w Twojej skrzynce mailowej, jeśli jesteś Subskrybentem WebMuses.</p>
        <p><strong>O czym pamiętać?</strong></p>
    <p>Każdorazowo, przed AW obowiązuje rejestracja poprzez Eventbrite (link do rejestracji zawsze w zaproszeniach i opisach wydarzeń) oraz symboliczna opłata pobierana przy wejściu, pokrywająca koszty organizacji. Zazwyczaj potrzebny jest laptop z dostępem do wi-fi.</p>
  <p>Atmosfera jest przednia, serdecznie zachęcamy do udziału - nie ma lepszego sposobu na spędzenie czwartkowego popołudnia i wieczoru!</p>
  </div>
  <div class="tabbed" id="learning">
    <p>Niezależnie od tego, czy chcesz rozwijać swoje umiejętności, czy też dopiero rozpocząć naukę od zera, grupy robocze, w których uczysz się podczas tworzenia konkretnych, prawdziwych projektów, to najskuteczniejsze rozwiązanie.</p>
    <h3>Co to są grupy robocze?</h3>
    <p>To stałe grupy 3-5 osób zdeklarowanych spotykać się regularnie co tydzień,<br/> o określonej porze i w określonym miejscu, na wspólną naukę poprzez działanie. Czego chcesz się uczyć? Programowania? Tworzenia stron? Grafiki? Ty decydujesz. Grupę tworzą osoby świadome, że wszystko, co potrzebne do nauki jest dostępne za darmo<br/> w Internecie, ale stworzenie grupy uprzyjemnia i przyśpiesza proces korzystania z tych źródeł.</p>
    <p><strong>Sam zobacz, jak wyglądają pierwsze projekty naszych grup:</strong><br/><a href="http://we-can-do-it.herokuapp.com" target="_blank"> We Can Do It!</a><br/>W większości uczestnicy zaczynali przygodę z programowaniem od zera.</p>
    <h3>Jak dołączyć lub stworzyć swoją grupę roboczą?</h3>
    <ol>
      <li>Określ swój poziom zaawansowania i termin, w jakim możesz i chcesz zadeklarować swoją cotygodniową obecność.</li>
      <li>Napisz ogłoszenie na naszym Facebook’owym wallu o poszukiwaniu osób do grupy lub napisz do nas maila na <a href=" mailto:webmuses@gmail.com">webmuses@gmail.com</a>. Sprawdzimy dla Ciebie możliwości dołączenia Cię do już istniejących grup lub skontaktujemy Cię z innymi chętnymi. Polecimy Wam kawiarnie w Krakowie ze sprawdzonym wi-fi i dostępem do kontaktów.</li>
      <li>Jeśli uda Wam się stworzyć grupę i ruszyć z cotygodniowymi spotkaniami, pomożemy znaleźć Wam coacha :)</li>
    </ol>
    <h3>Dlaczego grupy robocze to świetny sposób na naukę?</h3>
    <ul>
      <li>Bo motywacja społeczna to świetny sposób na systematyczność.</li>
      <li>Bo spotkania w twórczej grupie to sama przyjemność! :)</li>
      <li> Bo co kilka głów, to nie jedna: wymiana informacji i pomysłów przyśpiesza<br/> i usprawnia cały proces.</li>
      <li>Bo to jest za darmo!</li>
      <li>Bo, jak w ramach każdej inicjatywy pod skrzydłami WebMuses, możecie liczyć na nasze stałe wsparcie, materiały, pomoc w kontakcie z doświadczonymi programist(k)ami, doping oraz najszybsze informacje o ważnych wydarzeniach.</li></ul>
    <p>Co jakiś czas organizujemy spotkania wszystkich grup roboczych działających pod skrzydłami WebMuses w celu wymiany doświadczeń, wiedzy, inspiracji a także w celach biznesowych, czy czysto rozrywkowych :)</p>
  </div>
  <div class="tabbed" id="past">
    <p><strong><a href="http://www.facebook.com/RailsGirlsKrakow" target="_blank">Rails Girls Kraków</a></strong></p>
    <p><strong>17-18.04.2012</strong></p>
    <p>Ogólnoświatowa inicjatywa Rails Girls poraz pierwszy w Polsce i nasz pierwszy event jednocześnie.</p>
    <p>Gościliśmy pomysłodawców z Finlandii oraz licznych Coachów z całego świata.<br/>Pod ich okiem ponad 40 dziewczyn chcących spróbować programowania stawiało swoje pierwsze kroki. Atmosfera była niesamowita, tylko częściowo oddają ją <a href="http://www.facebook.com/media/set/?set=a.268487483244815.63323.136157603144471&type=3" target="_blank">te zdjęcia</a>.</p>
    <p>Więcej o Rails Girls: <a href="http://railsgirls.com/" target="_blank">www.railsgirls.com.</a></p>
    <p><a href="http://blog.railsgirls.com/post/49227054178/meet-the-kickin-krakow-girls-year-ago-beginner-now" target="_blank">Aż trzy uczestniczki tego eventu rok później uczestniczyły w nim już w roli coacha!</a></p>
    <p><strong>19-20.04.2013</strong></p>
    <p>Druga edycja, czyli jeszcze więcej uczestniczek, nauki i zabawy. <a href="http://www.facebook.com/media/set/?set=a.383896621724606.1073741838.350907338356868&type=1" target="_blank">Sami zobaczcie, jak było :)</a>
    <p>Blogerzy o Rails Girls Kraków:</p>
    <a href="http://dira.ro/2013/04/29/the-robot-game-at-railsgirls-krakow" target="_blank">http://dira.ro/2013/04/29/the-robot-game-at-railsgirls-krakow</a>
    <a href="http://blog.lunarlogicpolska.com/2013/rails-girls-krakow-2013/" target="_blank">http://blog.lunarlogicpolska.com/2013/rails-girls-krakow-2013/</a>
    <a href="http://jestemhipsterem.pl/rails-girls-moc/" target="_blank">http://jestemhipsterem.pl/rails-girls-moc/</a>
    <p>Tak, planujemy kolejną edycję! :)</p>
    <br/>
    <p><strong>Summer with RoR</strong> </p>
    <p>Wakacyjne warsztaty programowania, podczas których, pod okiem zawodowych programistów uczyliśmy sie podstaw Ruby.. and Rails oraz tworzyliśmy pierwsze aplikacje. Spotykaliśmy się przez 4 kolejne poniedziałki w KOMPANY na krakowskim Kazimierzu (dziękujemy za udostępnienie nam miejsca i wspieranie naszych inicjatyw!). Było fantastycznie, <a href="http://www.facebook.com/media/set/?set=a.445346108822176.99039.367995243223930&type=3" target="_blank">sami zobaczcie!</a></p>
    <p>Podczas Summer with RoR powstały przydatne przewodniki dostępne tutaj:<br/><a href="http://we-can-do-it.herokuapp.com/guides" target="_blank">http://we-can-do-it.herokuapp.com/guides</a></p>
    <p>Jeśli przegapiłaś/eś event lub jesteś na innym poziomie w Ruby on Rails, a interesuje Cię rozwijanie swoich umiejętności poprzez udział w podobnych warsztatach w przyszłości, napisz do nas na <a href="mailto:webmuses@gmail.com">webmuses@gmail.com</a>.
      Zbieramy informacje o zainteresowaniu podobnymi inicjatywami jako inspirację do planowania kolejnych warsztatów. Będziesz wówczas także jedną z pierwszych osób, do których trafi informacja o zapisach <br/>(a miejsca rozchodzą się zawsze bardzo szybko).</p><br/>

  </div>
</div>
<%= render "aside" %>
