<%= render "tab" %>
<div class="tabs_holder">
  <div class="tabbed" id="amusing">
    <p><strong>Amusing Workshops</strong>
     is a series of monthly tech workshops. Each meeting is dedicated to a different subject - HTML, CSS, JavaScript, Ruby on Rails, Usability, Graphic Design, etc.</p>
     <p>Workshops are led by specialists in the given field, who share their knowledge in a light and forthcoming way. We determine the range scope and level of the training before each class.</p>
     <p>In addition, our meetings have an especially fun and inspiring part - a sequence of Lightning Talks presented by various celebrities, not only from the IT world.</p>
    <p><strong>When and where?</strong></p>
    <p>The workshops usually start at 6pm, last for about 2 to 4 hours and are held in the center of Cracow. The details of each event are available in the Events tab on <a href="https://www.facebook.com/webmuses/events" target="_blank">Facebook</a> or directly in your mailbox, if you’re subscribing to the WebMuses Newsletter.
    </p>
        <p><strong>Keep in mind</strong></p>
    <p>
    Each Amusing Workshop requires registration via Eventbrite (there’s always a link in invitations and event descriptions) and a symbolic charge to cover organisational expenses.
    Usually a laptop is needed, with wi-fi access.
    </p>
    <p>
      The atmosphere is great, we welcome you to join us - there’s no better way to spend a Thursday evening!
    </p>
  </div>
  <div class="tabbed" id="learning">
    <p>
      Whether you’re starting from scratch or want to develop your existing skills, working groups are the best way to achieve your goals - because you learn by making real, actual projects.
    </p>
    <h3>What are working groups?</h3>
    <p>
      They’re fixed groups of 3 to 5 people dedicated to meeting regularly every week at a specific time and place in order to learn by doing. What do you want to learn? Programming? Creating websites? Graphics? You decide. The group consists of people aware of the fact that everything you need is available in the Internet for free, but it’s far more pleasant and efficient to make use of these resources together.
    </p>
    <p><strong>See for yourself how our groups’ first projects turned out:</strong><br/><a href="http://we-can-do-it.herokuapp.com" target="_blank"> We Can Do It!</a><br/>Note that most of the participants had no prior programming experience.</p>
    <h3>How to join or create your own working group?</h3>
    <ol>
      <li>Name your level and the desired time and day you’d like to meet every week.</li>
      <li>
        Write an announcement on our Facebook wall stating that you want to start a group or send us an e-mail to
        <a href=" mailto:webmuses@gmail.com">webmuses@gmail.com</a>.
        We will check the possibility of joining an existing group for you, or get you in touch with others willing to do the same thing. We’ll also recommend cafes in Cracow with verified wi-fi and access to the sockets.
      </li>
      <li>Once you create a group and start your weekly meetings, we’ll help you find a coach :)</li>
    </ol>
    <h3>Why are working groups such a great way to learn?</h3>
    <ul>
     <li>
        Because social motivation helps sustain consistency and discipline.
     </li>
     <li>
        Because being part of a creative group is pure pleasure! :)
     </li>
     <li>
        Because a few heads are better than one: exchange of ideas and information makes the whole process faster and more efficient.
     </li>
     <li>
        Because it’s free!
     </li>
     <li>
        Because, like with any WebMuses initiative, you can count on our constant support, cheering, materials, help in getting in touch with experienced programmers and first notice about the upcoming events.
     </li>
    </ul>
    <p>From time to time we organise a meeting of all the working groups operating under WebMuses’ wings in order to exchange experience, knowledge, inspiration, but also to do business and have fun :)</p>
  </div>
  <div class="tabbed" id="past">
    <p><strong>Summer with RoR</strong> </p>
    <p>Summer programming workshops, during which we learned the basics of Ruby on Rails and created our first web apps. We met on 4 subsequent Mondays at KOMPANY in Cracow’s Kazimierz (thank you for making the place available for us and supporting our initiatives!). It was fantastic, <a href="http://www.facebook.com/media/set/?set=a.445346108822176.99039.367995243223930&type=3" target="_blank">see for yourselves!</a></p>
    <p>During Summer with RoR we created helpful guides, which are available here:<br/><a href="http://we-can-do-it.herokuapp.com/guides" target="_blank">http://we-can-do-it.herokuapp.com/guides</a></p>
    <p>
     If you missed the event or are on a different level of advancement, but would like to develop your skills during similar workshops in the future, write to us:
      <a href="mailto:webmuses@gmail.com">webmuses@gmail.com</a>. This information is very valuable in the process of planning more events like this. You’ll also be one of the first to know about the registration (and seats always disappear very quickly).
    </p><br/>
    <p><strong><a href="http://www.facebook.com/RailsGirlsKrakow" target="_blank">Rails Girls Kraków</a></strong></p>
    <p><strong>17-18.04.2012</strong></p>
    <p>It was the first edition of Rails Girls in Poland! We hosted pioneers of the idea from Finland and numerous coaches from all around the world. Under their supervision more than 40 girls took their first steps into programming. The atmosphere was amazing, <a href="http://www.facebook.com/media/set/?set=a.268487483244815.63323.136157603144471&type=3" target="_blank">these pictures</a> only partially do them justice.</p>
    <p>More about Rails Girls: <a href="http://railsgirls.com/" target="_blank">www.railsgirls.com.</a></p>
    <p><a href="http://blog.railsgirls.com/post/49227054178/meet-the-kickin-krakow-girls-year-ago-beginner-now" target="_blank">Read about the three women who were attending in 2012 and coaching this year!</a></p>
    <p><strong>19-20.04.2013</strong></p>
    <p>The second edition: more attendees, more fun learning and The Robot Game for the first time! <a href="http://www.facebook.com/media/set/?set=a.383896621724606.1073741838.350907338356868&type=1" target="_blank">You can see it all here.</a></p>
    <p>Or read about it here:</p>
    <a href="http://dira.ro/2013/04/29/the-robot-game-at-railsgirls-krakow" target="_blank">http://dira.ro/2013/04/29/the-robot-game-at-railsgirls-krakow</a>
    and here <a href="http://blog.lunarlogicpolska.com/2013/rails-girls-krakow-2013/" target="_blank">http://blog.lunarlogicpolska.com/2013/rails-girls-krakow-2013/</a>
    <p>And yes, we are planning another edition!</p>
  </div>
</div>
<%= render "aside" %>
